body {
  display: grid;
  font-family: "Open 24 Display St", sans-serif;
  grid-template-areas:
    "header"
    "breadcrumbs"
    "main";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
}